.gamecontainer {
    width: 400px;
    height: 320px;
    position: relative;
    background-color: black;
  }

  .gamecontainer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px; /* Adjust thickness as needed */
    height: 100%;
    background: repeating-linear-gradient(
      to bottom,
      white,
      white 4px, /* Adjust spacing as needed */
      transparent 4px,
      transparent 8px
    );
  }

  .pong-border {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid gray;
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'Press Start 2P';
    src: url('../public/assets/Press_Start_2P/PressStart2P-Regular.ttf');
  }

  .score {
    position: absolute;
    top: 10px;
    font-size: 36px;
    color: white;
    font-family: 'Press Start 2P', sans-serif;
  }
  
  .score-left {
    left: 20px;
  }
  
  .score-right {
    right: 20px;
  }
  
  .paddle {
    width: 8px;
    height: 64px;
    position: absolute;
    background-color: white;
  }
  
  .ball {
    width: 12px;
    height: 12px;
    position: absolute;
    background-color: white;
  }

  .status-text {
    font-size: 18px;
    color: #333; /* Adjust color as needed */
    font-weight: bold;
  }
  
  .player-status {
    font-size: 16px;
    color: #666; /* Adjust color as needed */
  }

  .player-list {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .left-player,
  .right-player {
    font-size: 12px;
    font-family: 'Press Start 2P', sans-serif;
  }
  
  /* Adjust position */
  .left-player {
    left: 10px;
    margin-top: 5px;
  }
  
  .right-player {
    right: 10px;
    margin-bottom: 5px;
  }
  
  .press-start-font {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 12px;
  }